body { margin:0; }  
        

.game-holder {
position: absolute;
width: 100%;
height: 100%;
background: -webkit-linear-gradient(#210f72, rgb(173, 210, 245));
background: linear-gradient(#210f72, rgb(173, 210, 245) );
}

.world {
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
}

.header {
position: center;
top: 8vh;
left: 0;
width: 100%;
text-align: left;
pointer-events: none;
}

.score {
width: 10%;
margin: 2em 0 0;
text-align: center;
white-space: nowrap;
}

.score__content {
position: relative;
display: inline-block;
padding: 0 1em;
vertical-align: top;
}

.score__content:nth-child(2) {
border-right: 1px solid #e4e1dc;
border-left: 1px solid #e4e1dc;
}

.score__content:nth-child(3) {
border-right: 1px solid #e4e1dc;
}

.score__label {
font-size: 9px;
position: relative;
margin: 0 0 0.5em 0;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
color: #e4e1dc;
}

.score__value {
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: #e4e1dc;
}

.score__value--level {
font-size: 26px;
}

.score__value--dist {
font-size: 30px;
}

.score__value--shield {
font-size: 15px;
}

.score__value--energy {
position: relative;
width: 60px;
height: 8px;
margin-top: 20px;
border-radius: 3px;
background-color: #e4e1dc;

}

.energy {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 2px;
background-color: #f25346;
animation-name: none;
animation-duration: 150ms;
animation-iteration-count: infinite;
}

.message {
font-weight: bold;
position: absolute;
width: 100%;
text-align: center;
text-transform: uppercase;
pointer-events: none;
}

.msg__rules {
font-weight: bold;
position: absolute;
width: 100%;
text-transform: uppercase;
pointer-events: none;
}

.message--replay {
font-size: 1.25vw;
bottom:70vh;
text-indent: 0.5em;
letter-spacing: 0.5em;
color: orangered;
display: none;
}

.message--loading {
    font-size: 1.25vw;
    bottom:70vh;
    text-indent: 0.5em;
    letter-spacing: 0.5em;
    color: whitesmoke;
    }

.message--score {
font-size: 1.25vw;
bottom:65vh;
text-indent: 0.5em;
letter-spacing: 0.5em;
color: orangered;
display: none;
}

.msg--instructions {
top:4vh;
font-family: 'Roboto', sans-serif;
font-size: 0.64em;
letter-spacing: 0.2em;
color: #ffffff;
}

#scoreboard_header {
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: #e4e1dc;
font-size: 20px;
margin-left: 2%;
font-weight: bold;
position: absolute;
left: 0;
width: 100%;
text-align: left;
text-transform: uppercase;
pointer-events: none;
display: none;
}

#scoreboard {
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: #e4e1dc;
font-size: 12px;
margin-left: 2%;
font-weight: bold;
position: absolute;
left: 0;
width: 100%;
text-align: left;
text-transform: uppercase;
pointer-events: none;
}